header 
{
    background-color: rgb(32, 151, 102);
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 15px;
    text-align: center;

}
div>img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}